<!-- Start choice -->
<br><br>
 <!--=================================
 intro bg -->
<div class="inner-intro parallax bg-overlay-black-70 " style="background-image: url(images/about1.jpg); height:300px">
  <div class="container">
    <div class="row text-center">
   
   </div>
  </div>
</div>
 <!--=================================
 intro bg -->
 <!-- start About -->
<div class="container">
  <div class="row">
  <div class="col-md-12">
        <div class="home-header" style="text-align: center;">
                 <h2>About Us</h2>
             </div>
       <div class=" col-md-4" style="background-color:">
        <img class="img-thumbnail img-responsive" src="/images/about.jpg">
        the lord is good
       </div><!-- /.col-lg-4 -->
        <div class="col-md-8  "  style="font-size: 20px">
         We are Entrepreneurs with the core aim of providing apartment without stress at snap to individuals with a great commitment of providing a sure and long lasting comfortability a customer can get.

         Our enterprise has a big function typically measured in terms of dependability and reliability,in the last one year, it started with a prodigious  commitment;so there is an assurance of competent delivery of service as at when due. Your comfortability is our assignment and you can always count on us for pulchritudinous outcomes.

         Effort on qualitative delivery is scrupulously guided by the choice of customers invariably pointing our area of work tagging the customers with the singular right to their choice of purchase with our enterprise.This stands as one of the benefits individuals/conglomerate companies/corporate bodies stands to gain when in business with us.
        </div>
  </div>
         
  </div>
</div>  
<!-- End about-->