<!-- Start choice -->
<br><br>
 <!--=================================
 intro bg -->
<div class="inner-intro parallax bg-overlay-black-70 " style="background-image: url(images/choice2.jpg); height:300px">
  <div class="container">
    <div class="row text-center">
    the lord
   </div>
  </div>
</div>
 <!--=================================
 intro bg -->
<div class="container" style="padding-top:20px">
    <div class="row">
         <div class="col-lg-4 " style="background-color:">
            <img class="img-thumbnail img-responsive" src="/images/choice.jpg"  width="335" height="236">
            <h2>Heading</h2>
            <p>
               Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
            </p>
          </div><!-- /.col-lg-4 -->
        <div class="col-md-8">
        <h1>Fill in Your  Hostel Choice</h1>
            <form class="form-horizontal" method="POST" action="/add"> 
             <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" class="form-control" id="firstname"  name="firstname" placeholder="Enter firstname" required>
             </div>
            <div class="form-group">
                <label for="Lastname">Lastname</label>
                <input type="text" class="form-control" id="lastname" name="lastname"  placeholder="Enter lastname" required>
            </div>
            <div class="form-group">
                <label for="phonenumber">Phone Number</label>
                <input type="text" class="form-control" id="" name="phonenumber"  placeholder="+234" required>
            </div>
               <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="" name="email"  placeholder="example@gmail.com" required>
            </div>
             <div class="form-group">
                <label for="selectarea">Area</label>
                 <input type="text" class="form-control" id="" name="area"  placeholder="Ijagun" required>
            </div>
             <div class="form-group" >
                <label for="Apartmenttype">Apartment Type</label>
                <input type="text" class="form-control" id="" name="apartmenttype"  placeholder="Self Contain" required>
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <textarea class="form-control" name="description" placeholder="Enter Your Description"></textarea> 
            </div>
            <button type="submit"  class="btn btn-primary">Submit &raquo;</button>
            </form>
        </div>
    </div>
</div>
<!-- End choice-->

