<!-- Start choice -->

 <!--=================================
 intro bg -->
<div class="inner-intro parallax bg-overlay-black-70 " style="background-image: url(images/gallery4.jpg); height:300px">
  <div class="container">
    <div class="row text-center">
   </div>
  </div>
</div>
 <!--=================================
 intro bg -->
   <!-- Start Portfolio  -->
        <section id="portfolio" class="portfolio text-center">
            <div class="container">
                <div class="title">
                    <h2 class="text-uppercase">Portfolio</h2>
                </div>
                <div class="gallery">
                    <div class="row">
                        <!-- Start Image Number 1 -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="item marketing">
                                <div class="over">
                                    <div class="info-img">
                                        <h4 class="pattaya">Title Projet</h4>
                                        <span>Marketing</span>
                                    </div>
                                    <a href="/images/choice.jpg" data-lightbox="image-1" data-title="Project Title">
                                            <!-- ^ And Here -->
                                        <i class="fa fa-arrows-alt"></i>
                                    </a>
                                </div>
                                <img src="/images/choice.jpg" alt="imgPort1" class="img-fluid">
                                        <!-- Here ^ You Can Change image And Up -->
                            </div>
                        </div>
                        <!-- End Image Number 1 -->
                        <!-- ===================== -->
                        <!-- Start Image Number 2 -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="item graphic">
                                <div class="over">
                                    <div class="info-img">
                                        <h4 class="pattaya">Title Projet</h4>
                                        <span>Graphic Design</span>
                                    </div>
                                    <a href="/images/choice.jpg" data-lightbox="image-1" data-title="Project Title">
                                            <!-- ^ And Here -->
                                        <i class="fa fa-arrows-alt"></i>
                                    </a>
                                </div>
                                <img src="/images/choice.jpg" alt="imgPort1" class="img-fluid">
                                        <!-- Here ^ You Can Change image And Up -->
                            </div>
                        </div>
                        <!-- End Image Number 2 -->
                        <!-- ===================== -->
                        <!-- Start Image Number 3 -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="item web">
                                <div class="over">
                                    <div class="info-img">
                                        <h4 class="pattaya">Title Projet</h4>
                                        <span>Web Design</span>
                                    </div>
                                    <a href="/images/choice.jpg" data-lightbox="image-1" data-title="Project Title">
                                            <!-- ^ And Here -->
                                        <i class="fa fa-arrows-alt"></i>
                                    </a>
                                </div>
                                <img src="/images/choice.jpg" alt="imgPort1" class="img-fluid">
                                        <!-- Here ^ You Can Change image And Up -->
                            </div>
                        </div>
                        <!-- End Image Number 3 -->
                        <!-- ===================== -->
                        <!-- Start Image Number 4 -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="item marketing">
                                <div class="over">
                                    <div class="info-img">
                                        <h4 class="pattaya">Title Projet</h4>
                                        <span>Marketing</span>
                                    </div>
                                    <a href="/images/choice.jpg" data-lightbox="image-1" data-title="Project Title">
                                            <!-- ^ And Here -->
                                        <i class="fa fa-arrows-alt"></i>
                                    </a>
                                </div>
                                <img src="/images/choice.jpg" alt="imgPort1" class="img-fluid">
                                        <!-- Here ^ You Can Change image And Up -->
                            </div>
                        </div>
                        <!-- End Image Number 4 -->
                        <!-- ===================== -->
                        <!-- Start Image Number 5 -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="item web">
                                <div class="over">
                                    <div class="info-img">
                                        <h4 class="pattaya">Title Projet</h4>
                                        <span>Web Design</span>
                                    </div>
                                    <a href="/images/choice.jpg" data-lightbox="image-1" data-title="Project Title">
                                            <!-- ^ And Here -->
                                        <i class="fa fa-arrows-alt"></i>
                                    </a>
                                </div>
                                <img src="/images/choice.jpg" alt="imgPort1" class="img-fluid">
                                        <!-- Here ^ You Can Change image And Up -->
                            </div>
                        </div>
                        <!-- End Image Number 5 -->
                        <!-- ===================== -->
                        <!-- Start Image Number 6 -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="item graphic">
                                <div class="over">
                                    <div class="info-img">
                                        <h4 class="pattaya">Title Projet</h4>
                                        <span>Graphic Design</span>
                                    </div>
                                    <a href="/images/choice.jpg" data-lightbox="image-1" data-title="Project Title">
                                            <!-- ^ And Here -->
                                        <i class="fa fa-arrows-alt"></i>
                                    </a>
                                </div>
                                <img src="/images/choice.jpg" alt="imgPort1" class="img-fluid">
                                        <!-- Here ^ You Can Change image And Up -->
                            </div>
                        </div>
                        <!-- End Image Number 6 -->
                        <!-- ===================== -->
                        <!-- Start Image Number 7 -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="item marketing less">
                                <div class="over">
                                    <div class="info-img">
                                        <h4 class="pattaya">Title Projet</h4>
                                        <span>Marketing</span>
                                    </div>
                                    <a href="/images/choice.jpg" data-lightbox="image-1" data-title="Project Title">
                                            <!-- ^ And Here -->
                                        <i class="fa fa-arrows-alt"></i>
                                    </a>
                                </div>
                                <img src="/images/choice.jpg" alt="imgPort1" class="img-fluid">
                                        <!-- Here ^ You Can Change image And Up -->
                            </div>
                        </div>
                        <!-- End Image Number 7 -->
                        <!-- ===================== -->
                        <!-- Start Image Number 8 -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="item graphic less">
                                <div class="over">
                                    <div class="info-img">
                                        <h4 class="pattaya">Title Projet</h4>
                                        <span>Graphic Design</span>
                                    </div>
                                    <a href="/images/choice.jpg" data-lightbox="image-1" data-title="Project Title">
                                            <!-- ^ And Here -->
                                        <i class="fa fa-arrows-alt"></i>
                                    </a>
                                </div>
                                <img src="/images/choice.jpg" alt="imgPort1" class="img-fluid">
                                        <!-- Here ^ You Can Change image And Up -->
                            </div>
                        </div>
                        <!-- End Image Number 8 -->
                        <!-- ===================== -->
                        <!-- Start Image Number 9 -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="item web less">
                                <div class="over">
                                    <div class="info-img">
                                        <h4 class="pattaya">Title Projet</h4>
                                        <span>Web Design</span>
                                    </div>
                                    <a href="/images/choice.jpg" data-lightbox="image-1" data-title="Project Title">
                                            <!-- ^ And Here -->
                                        <i class="fa fa-arrows-alt"></i>
                                    </a>
                                </div>
                                <img src="/images/choice.jpg" alt="imgPort1" class="img-fluid">
                                        <!-- Here ^ You Can Change image And Up -->
                            </div>
                        </div>
                        <!-- End Image Number 9 -->
                    </div>
                </div>
            </div>
        </section>
        
        <!-- End Portfolio -->