 <!-- Start choice -->
<br><br>
 <!--=================================
 intro bg -->
<div class="inner-intro parallax bg-overlay-black-70 " style="background-image: url(images/front.jpg); height:500px">
  <div class="container">
    <div class="row text-center "  style="padding-top: 50px;">
         <div class="col-md-12" style="margin-top: 45px">
         <div class="col-md-4 animated swing land">
           <p>
                <img src="/images/images.jpg"><br>
                <small class="animated bounceInLeft">Your Choice Our Priority</small> 
           </p>
         </div>
         <div class="col-md-4 animated bounceInLeft"><p ></p></div>
         <div class="col-md-4">
         <p  class="animated swing landing">
            <strong>Getting You A Home Away from home</strong>
         </p>
          <br>
             <p><span class="animated bounceInLeft landing">That's Our Work!</span> </p>
          </div>    
         </div>
   </div>
  </div>
</div>
 <!--=================================
 intro bg -->
  <!--=================================
 services section begin -->
<div class="container">
  <!-- Available Hostel section start -->
<div class="row">
  <div class="col-md-12"> 
             <div class="home-header" style="text-align: center;">
                 <h2>Available Hostels</h2>
             </div>
            <div class="col-md-3">
                <div class="card">
                  <div class="card-image">
                  <div class="image">
                       <img src="/images/background1.jpg" class="img-thumbnail img-responsive">
                  </div>
                  </div>
                     <div class="card-content col-xs-12">
                   <div class="col-md-6 col-xs-6">Hostel Type</div><div class="col-md-6 col-xs-6">Location</div>
                  </div>
                </div>
            </div>
            <!-- Availabe Hostels Section start -->
            <div class="col-md-3">
                <div class="card">
                  <div class="card-image">
                    <div class="image">
                        <img src="/images/background.jpg" class="img-thumbnail img-responsive" >
                    </div>
                  </div>
                  <div class="card-content">
                   <div class="col-md-6 col-xs-6">Hostel Type</div><div class="col-md-6 col-xs-6">Location</div>
                  </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                  <div class="card-image">
                   <div class="image">
                    <img src="/images/background.jpg" class="img-thumbnail img-responsive">
                   </div>
                  </div>
                     <div class="card-content">
                   <div class="col-md-6 col-xs-6">Hostel Type</div><div class="col-md-6 col-xs-6">Location</div>
                  </div>
                </div>
            </div>
                 <div class="col-md-3">
                <div class="card">
                  <div class="card-image">
                  <div class="image">
                          <img src="/images/hostel1.jpg" class="img-thumbnail img-responsive">
                  </div>
                  </div>
                     <div class="card-content">
                   <div class="col-md-6 col-xs-6">Hostel Type</div><div class="col-md-6 col-xs-6">Location</div>
                  </div>
                </div>
            </div>
            <br><br>
             <div > <div class="col-md-3">
                <div class="card">
                  <div class="card-image">
                  <div class="image">
                       <img src="/images/background1.jpg" class="img-thumbnail img-responsive">
                  </div>
                  </div>
                   <div class="card-content">
                   <div class="col-md-6 col-xs-6">Hostel Type</div><div class="col-md-6 col-xs-6">Location</div>
                  </div>
                </div>
            </div>
            <!-- Availabe Hostels Section start -->
            <div class="col-md-3">
                <div class="card">
                  <div class="card-image">
                    <div class="image">
                        <img src="/images/background.jpg" class="img-thumbnail img-responsive" >
                    </div>
                
                  </div>
                     <div class="card-content">
                   <div class="col-md-6 col-xs-6">Hostel Type</div><div class="col-md-6 col-xs-6">Location</div>
                  </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                  <div class="card-image">
                   <div class="image">
                    <img src="/images/background.jpg" class="img-thumbnail img-responsive">
                   </div>
                  </div>
                     <div class="card-content">
                   <div class="col-md-6 col-xs-6">Hostel Type</div><div class="col-md-6 col-xs-6">Location</div>
                  </div>
                </div>
            </div>
                 <div class="col-md-3">
                <div class="card">
                  <div class="card-image">
                  <div class="image">
                          <img src="/images/hostel1.jpg" class="img-thumbnail img-responsive">
                  </div>
                  </div>
                     <div class="card-content">
                   <div class="col-md-6 col-xs-6">Hostel Type</div><div class="col-md-6 col-xs-6">Location</div>
                  </div>
                </div>
            </div></div>
           
  </div>
  </div>
  <!-- Available Hostel section ends -->
 <!-- section for location description start -->
   <div class="row">
   <div class="col-md-12">
            <div class="home-header" style="text-align: center;">
                 <h2>Available Communities</h2>
                 <p><strong> Tai-Solarin University of Education Ogun Stateis having four major different communities surrounding it, and some other communities list will be listed below ... </strong> </p>
             </div>








        <div class="educ">
         
                <div class="education">
               
                        <div class="col-lg col-md-12">
                            <div class="title first-timeline">
                                <h3>Education</h3>
                                <!-- Start Education Number 1 -->
                                <div class="infos-educ">
                                    <span class="roundtimeline"></span>
                                    <div class="info-timeline">
                                        <h5>IJAGUN AREA</h5>
                                        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil</p>
                                        <span class="timeline-de"></span>
                                    </div>
                                </div>
                                <!-- End Education Number 1 -->
                                <!-- ====================== -->
                                <!-- Star Education Number 2 -->
                                <div class="infos-educ">
                                    <span class="roundtimeline"></span>
                                    <div class="info-timeline">
                                        <h5>IJELE AREA</h5>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                                        <span class="timeline-de"></span>
                                    </div>
                                </div>
                                <!-- End Education Number 2 -->
                                <!-- ====================== -->
                            </div>
                        </div>
                        <div class="col-lg col-md-12">
                            <div class="title">
                                <h3>Experience</h3>
                                <!-- Start Experience Number 1 -->
                                <div class="infos-educ">
                                    <span class="roundtimeline"></span>
                                    <div class="info-timeline">
                                        <h5>ABAPAWA AREA</h5>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                                        <span class="timeline-de"></span>
                                    </div>
                                </div>
                                <!-- End Experience Number 1 -->
                                <!-- ====================== -->
                                <!-- Star Experience Number 2 -->
                                <div class="infos-educ">
                                    <span class="roundtimeline"></span>
                                    <div class="info-timeline">
                                        <h5>IMAWEJE AREA</h5>
                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
                                        <span class="timeline-de"></span>
                                    </div>
                                </div>
                                <!-- End Experience Number 2 -->
                            </div>
                        </div>
           
            
            </div>
        </div>
















   </div>
   </div>
  <!-- section for location description ends -->
   <!-- Testimonials section start -->
   <div class="row">
   <div class="col-md-12">

 <!-- Start Tesim -->
       <!--  <div class="row testim">
            <div class="container"> -->
                <!-- <div class="slider-arrows"></div> -->
            <!-- </div> -->
            <!-- <div class="testim-slider"> -->
                <!-- Start Slider Number 1 -->
             <!--    <div class="slide1 myslide">
                    <div class="container">
                        <div class="quote-client text-center">
                            <i class="fa fa-quote-left"></i>
                            <div class="parg-quote">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit volupta</p>
                                <span class="name">Joshua Earle</span>
                            </div>
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div> -->
                <!-- End Slider Number 1 -->
                <!-- ===================== -->
                <!-- Start Slider Number 2 -->
             <!--    <div class="slide2 myslide">
                    <div class="container">
                        <div class="quote-client text-center">
                            <i class="fa fa-quote-left"></i>
                            <div class="parg-quote">
                                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil</p>
                                <span class="name">John Doe</span>
                            </div>
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div> -->
                <!-- End Slider Number 2 -->
                <!-- ===================== -->
                <!-- Start Slider Number 3 -->
               <!--  <div class="slide3 myslide">
                    <div class="container">
                        <div class="quote-client text-center">
                            <i class="fa fa-quote-left"></i>
                            <div class="parg-quote">
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus</p>
                                <span class="name">Matthew Dix</span>
                            </div>
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                </div> -->
                <!-- End Slider Number 3 -->
            <!-- </div> -->
        <!-- </div> --> 
        
        <!-- End Tesim -->


   </div>
   </div>
         <!-- Testimonial section ends -->
</div>
<!--=================================
services section ends -->         