<!-- Start choice -->
<br><br>
 <!--=================================
 intro bg -->
<div class="inner-intro parallax bg-overlay-black-70 " style="background-image: url(images/our-service.jpg); height:300px">
  <div class="container">
    <div class="row text-center">
    the lord
   </div>
  </div>
</div>
 <!--=================================
 intro bg -->
  <!--=================================
 services section begin -->
 <div class="container">
   <div class="row">
     <div class="services-header">
       <h1>Our Services</h1>
     </div>
  <div class="col-md-12"> 
            <div class="col-md-3">
                <div class="card">
                  <div class="card-image">
                    <img src="/images/bg.png" class="img-thumbnail img-responsive">
                    <span class="card-title">Comfortability</span>
                    
                  </div>
                  <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                  <div class="card-image">
                    <img src="/images/bg.png" class="img-thumbnail img-responsive">
                    <span class="card-title">Hospitality</span>
                  
                  </div>
                  <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                  </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                  <div class="card-image">
                    <img src="/images/bg.png" class="img-thumbnail img-responsive">
                    <span class="card-title">Afforbable</span>
             
                  </div>
                  <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                      <div class="card">
                        <div class="card-image">
                          <img src="/images/bg.png" class="img-thumbnail img-responsive">
                          <span class="card-title">Your Choice</span>
                        </div>
                        <div class="card-content">
                          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                </div>
          </div>
  </div>
   </div>
 </div>
<!--=================================
services section ends -->         